/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

.lora-<uniquifier> {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .source-sans-3-<uniquifier> {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .sail-regular {
    font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

/* Header */

#logo {
  margin-top: -8px;
  margin-bottom: -25px;
  margin-left: 10px;
}

#logo-text {
  font-family: "Sail", system-ui;
  color: black;
  font-weight: 900;
  font-size: 140%;
}

header {
    background-color: rgb(68, 65, 65);
    border-bottom: 3px solid #000;
    position: fixed;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    top: 0;
    left: 0;
}

header a {
  text-decoration: none;
  color: rgb(68, 65, 65);
}

#menu {
  left: 0; 
  font-size: 100%;
  letter-spacing: 1px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid #000;
  color: rgb(68, 65, 65);
}
/* Navigation Bar */

nav {
  position: absolute;
  width: 100%;
  box-shadow: 2px;
  display: none;
  top: 100%;
  background-color: rgba(249, 247, 247, .7);
  border-bottom: 3px solid #ccc;
}

#nav-toggle:checked~nav {
    display: block;
  }

  #nav-toggle {
    display: none;
  }

.nav-toggle-label {
  font-size: 2rem;
  margin-right: 20px;
  color: black;
  size: 180%;
}

/* Main Content */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 5rem; 
}

main {
   flex: 1 0 auto;
   margin-top: 10px;
}

/* Hero Image and Cover Text */
#hero {
  background: url("../images/dahliafieldmain.jpg") no-repeat center center/cover;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  position: relative;
}

#cover-text {
  background-color: rgba(249, 247, 247, .7);
  border-radius: 5px;
  position: absolute;
  bottom: -40px;
  width: 80%;
  margin-left: 10%;
  color: rgb(68, 65, 65);
  text-align: center;
  line-height: 6px;
}

#cover-text h1 {
  font-family: "Sail", system-ui;
  font-size: 180%;
}

/* Flip Cards */
#flip-card-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}

#flip-card1,
#flip-card2,  
#flip-card3,
#flip-card4  {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#flip-card2 .flip-card-back {
  background-color: #e9dba5;
  
}

#flip-card3 .flip-card-back {
  background-color: #b897a2;
}

#flip-card4 .flip-card-back {
  background-color: #d9a16c;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

#flip-card1:hover .flip-card-inner, #flip-card2:hover .flip-card-inner, #flip-card3:hover .flip-card-inner, #flip-card4:hover .flip-card-inner  {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgba(202,168,169,255);
  color: white;
  transform: rotateY(180deg);
}

/* Flip Card Cover Text */
#card-text {
  background-color: rgba(249, 247, 247, .6);
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  width: 40%;
  margin-left: 30%;
  color: black;
  font-family: "Sail", system-ui;
  font-weight: 900;
  text-align: center;
  line-height: 6px;
}

/*ribbon */

.ribbon {
  width: 80px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border: 1px dotted white;
  border-radius: 10px;
  transform: rotate(20deg);
  background-color: #d95550;
  color: white;
  z-index: 99;
}

/* Footer */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

#social-networks {
  text-align: center;
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  border-top: 3px solid #000;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #000;
}

/* General Style */

body {
    background-color: rgb(68, 65, 65);
    font-family: "Source Sans 3", sans-serif;
    color: #fff; 
}

/* About Page */

*#about-main {
  margin-top: 60px;
  margin-bottom: -16px;
}

#about-container {
  display: flex;
  flex-wrap: wrap;
}

#right-container {
  background-color: #b897a2;
  flex: 1;
  padding: 10px;
  width: 100%;
  color: black;
}

#left-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  padding: 10px;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background-color: rgb(68, 65, 65);
  margin-top: 5px;
}

#left-container > img {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

#story-div {
  width: 300px;
  height: 33.3vh;
  background-color: #b897a2;
  font-family: "Sail", system-ui;
  color: black;
  font-size: 180%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about-image {
  margin-top: 20px;
  border-radius: 5px;
  height: 200px;
  width: 300px;
} 

/* Visit Page */
#image-scroll {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

#image-scroll img {
  padding: 10px;
}


/* Media query: Mobile phones (425px and below) */
@media (max-width: 425px) {
  .ribbon {
    display: none;
  }
#small-ribbon {
  width: 80px;
  padding: 4px;
  position: absolute;
  right: 100px;
  bottom: 0px;
  text-align: center;
  border: 1px dotted white;
  border-radius: 10px;
  background-color: #d95550;
  color: white;
  z-index: 99;
}

}

/* Media query: large tablets and larger screens */
@media (min-width: 916px) {
  #card-text {
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    bottom: -50px;
    width: 40%;
    margin-left: 30%;
    color: black;
    font-family: "Sail", system-ui;
    font-weight: 900;
    text-align: center;
    line-height: 6px;
    margin-bottom: 10px;
  }
}



/* Media query: large or landscape phones (576px and up) */



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header a {
      text-decoration: none;
      color: black;
      font-weight: 900;
    }

    .active {
      color: black;
    }

    nav {
      display: block;
      background-color: rgb(68, 65, 65);
      border-bottom: 0px solid rgb(68, 65, 65);
      position: relative;
      width: fit-content;
      padding-right: 20px;
  }

  #menu {
      display: flex;
      margin-bottom: -5px;
  }

  #menu > li {
      color: black;
      font-size: 110%;
      padding-left: 1rem;
      padding-right: .5rem;
  }

  .nav-toggle-label {
      display: none;
  }

  /* About Page */
  #about-container > * {
    width: 50%;
  }
}


/* Large devices (laptops and desktops, 992px and up) */


/* Devices larger than 1200px */
@media screen and (min-width: 1277px) {
  #story-div {
    width: 100%;
  }
}

