/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.lora-<uniquifier> {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .source-sans-3-<uniquifier> {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* Navigation Bar */

#nav-togg {
  display: none;
}

#nav-togg:checked~nav {
    display: block;
  }

#menu {

}

.nav-togg-label {
  font-size: 2.5rem;
}

nav {

}

/* General Style */

body {
    background-color: black;
}